body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.titulo {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.formulario {
  background-color: #9CA3AF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
  
}

.input {
  width: 50%;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}


.botoes {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.btn-verde {
  background-color: green;
}

.btn-verde:hover {
  background-color: darkgreen;
}

.btn-amarelo {
  background-color: orange;
}

.btn-amarelo:hover {
  background-color: darkorange;
}
.btn-vermelho {
  background-color: #dc3545;
}
.btn-vermelho:hover {
  background-color: #c82333;
}

.estoque-lista {
  margin-top: 20px;
  background-color: #E7C236;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela th, .tabela td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  color: black;
}

.tabela th {
  background-color: #333;
  color: white;
}

.mensagem-erro {
  background-color: #f8d7da;
  color: #721c24;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb;
}

.mensagem-certo {
  background-color: #d2d8d2;
  color: #27a123;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid #27a123;
}

.subtitulo {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: black;
}
